.decks-page {
	@include wh(100%, 200%);
	@include gradient-summer();
	.col-2 {
		width: 100%;
		height: 50%;
		float: left;
		transition: margin 1.2s ease;
		&.col-decks {
			margin-top: -77%;
		}
		&.col-decks.show {
			margin-top: 0px;
			.col:first-child .card.deck-card {
				opacity: 0;
				@include delay-child-sequence(120);
			}
		}
		.col-header {
			height: 100px;
		}
	}
	.board {
		margin: 20px;
		padding: 16px;
		height: 450px;
    margin-top: 0px;
		.card:nth-child(even) {
			margin-right: 0px;
		}
	}

	.forms-container {
		width: 80%;
		.input {
			width: 100%;
	    box-sizing: border-box;
      max-width: 500px;
		}
	}

	form.deckOptions{
		border-bottom: 1px solid $black-10;
	}

	form.aliasCard {
		padding-top: 20px;
	}

	.input__textbox {
		color: $black;
	}

	.card {
		&.alias-card {
			@include fade-in();
		}
	}
}