.grid-page {
	@include gradient-summer();
	@include sq(100%);
	@include center-flex();
	&[data-team=""], [data-team="none"] {
		@include gradient-summer();
	}
	&[data-team="1"] {
		@include gradient-sunglaze();
	}
	&[data-team="2"] {
		@include gradient-sunbreeze();
	}
	.page-inner {
		width: 100%;
  	padding: 0px 20px;
	}
	.death-wrapper,
	.end-round-wrapper,
	.start-round-wrapper {
		text-align: center;
		.btn {
			margin: 20px auto 0px auto;
  		display: block;
		}
	}
	.btn {
		&.--pick-leader {
	    float: unset;
    	margin-top: 20px;
		}
	}
	&.--death {
		@include gradient-soltice();
		.death-wrapper {
			color: $white;
		}
	}
	&.--ingame {
		.page-inner {
			position: absolute;
			top: 50px;
			left: 0px;
			width: 100%;
			height: 100%;
			overflow-y: scroll;
			padding-bottom: 150px;
		}
	}

	.footer__options {
			&--main{
		  	max-width: 500px;
    		width: auto;
    		min-width: 200px;
				&:hover {
					line-height: 80px;
				};
			}
	}
}

.app-footer {
	.new-alias {
		position: relative;
		animation: pulse 5s infinite;
		animation-timing-function: ease;
		.count-tip {
			font-size: $fs-xs;
			font-family: $josefin;
			@include sq(30px);
			border-radius: 15px;
			background: $red;
			color: $white;
			text-align: center;
			line-height: 32px;
			position: absolute;
			top: -10px;
			right: -10px;
		}
	}
}

.roundWinner-wrap {
	@include gradient-summer();
	&.--team2 {
		@include gradient-sunbreeze;
		h2 {
			color: $aqua;
		}
		.btn {
			background: $aqua;
			border-color: $aqua;
			&:hover {
				color: $aqua-dark;
				background: transparent;
			};
		}
	}
	&.--team1 {
		@include gradient-sunglaze;
		h2 {
			color: $chrome;
		}
		.btn {
			background: $chrome;
			border-color: $chrome;
			&:hover {
				color: $chrome-dark;
				background: transparent;
			};
		}
	}
}

#roundWinner {
	background: $cream;
	.modal__inner {
		height: 100%;
		position: relative;
	}
	.modal__body {
		margin-top: 0px;
		padding: 20px;
		display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 0px;
    width: 100%;
    h2 {
    	margin-top: 20px;
    }
    .msg__round-result {
    	font-size: $fs-xs;
	    margin: 10px 0px 20px 0px;
    }
    .trophy-wrapper {
    	width: 100%;
    	height: 190px;
    }
    .btn {
	    width: 100%;
    	margin: 0px;
    }
	}
}

#aliasLoading {
	font-size: $fs-s;
	.modal-card {
		@include center-flex();
		&.--back {
			background: $midnight;
			position: relative;
			color: $aqua;
			&:after {
				content: '';
				position: absolute;
				top: 15px;
				left: 15px;
				@include sq(calc(100% - 30px));
				border: 1px solid $aqua;
				border-radius: 10px;
			};
		}
		&[data-team="1"] {
			color: $chrome;
			&:after {
				border-color: $chrome;
			};
		}
	}
	.modal__body {
		margin-top: 0px;
	}
}

.pauseGame-wrap {
	@include gradient-summer(45deg, 1);
}

#pauseGame {
	font-size: $fs-s;
	.modal-card {
		@include center-flex();
		&.--back {
			background: $midnight;
			position: relative;
			color: $aqua;
			&:after {
				content: '';
				position: absolute;
				top: 15px;
				left: 15px;
				@include sq(calc(100% - 30px));
				border: 1px solid $aqua;
				border-radius: 10px;
			};
		}
		&.--front .modal__body {
			padding-top: 0px;
		}
		&[data-team="1"] {
			color: $chrome;
			&:after {
				border-color: $chrome;
			};
		}
	}
	.modal__body {
		margin-top: 0px;
	}
}

#boardAliasHistory {
	.history__item {
		position: relative;
		width: 100%;
		.bordered {
			padding: 5px 5px 2px 5px;
			border: 1px solid $midnight;
			color: $midnight;
			border-radius: 3px;
			display: inline-block;
			&.--team1 {
				border-color: $chrome;
				color: $chrome;
			}
			&.--team2 {
				border-color: $aqua;
				color: $aqua;
			}
			&.--none {
				border-color: $peach;
				color: $peach;
			}
			&.--death {
				border-color: $red;
				color: $red;
			}
		}
		.history__info {
			position: absolute;
			top: 6px;
			right: 10px;
			.count {
				border-radius: 20px;
				background: $black-10;
				color: $black-50;
				float: right;
				width: 30px;
		    height: 30px;
		    text-align: center;
		    line-height: 30px;
			}
		}
		.history__cardinfo {
			display: block;
			width: 100%;
			font-size: $fs-xxs;
			color: $black-50;
			text-transform: uppercase;
			padding: 5px 0px;
			&.--red {
				color: $red-50;
			}
		}
	}
}

/*responsiveness*/

@include mobile {
	.grid-page {
		.page-inner {
			box-sizing: border-box;
		}
	}
}