.leader-page {
	@include wh(100%, 100%);
	@include gradient-summer();
	@include center-flex();
	&.--hasBoard .page-inner {
		margin-top: -20%;
	}
	.board.active {
    height: 200px;
    margin-bottom: 30px;
	}
	form {
		.input__group {
			display: flex;
			position: relative;
			.input__textbox {
				border-color: $white;
			}
			.input__label {
				width: auto;
			}
			.input__quantity {
				border-color: $white;
				text-align: center;
			}
		}

		button {
			margin-top: -20px;
    	margin-left: 20px;
		}
	}
}

/*responsiveness*/

@include mobile {
	.leader-page, .leader-page.--hasBoard {
		align-items: unset;
		justify-content: unset;
		.page-inner {
			padding: 20px;
			margin-top: 0px;
			width: 100%;
		}
		.board, .board.active {
			width: 100%;
			display: block;
			margin-top: 0px;
			margin-bottom: 50px;
		}
		form {
			.input__textbox {
				width: calc(100% - 20px);
			}
			.input__quantity {
				width: 50px;
			}
			.inputwrap__quantity .input__label{
				opacity: 0;
			}
		}
	}
}