.build-team-page {
	@include gradient-summer();
	@include sq(100%);
	@include center-flex();
	&[data-team=""], [data-team="none"] {
		@include gradient-summer();
	}
	&[data-team="1"] {
		@include gradient-sunglaze();
	}
	&[data-team="2"] {
		@include gradient-sunbreeze();
	}

	.page-inner {
		width: 100%;
    	padding: 0px 20px;
	}

	.board {
	    width: calc(100% - 40px);
		height: 0%;
		transition: all 0.6s ease;
		position: relative;
		margin-bottom: 20px;
		overflow-y: auto;
		margin-top: 0px;
		&.active {
			height: 300px;
		};
	}

	.forms-single {
		width: 100%;
		&.--text-only {
			position: absolute;
			top: 0px;
			left: 5%;
		}
		.input__textbox {
			color: $white;
		}
	}

	.heading-wrapper {
		width: 100%;
		display: block;
		top: 70px;
	}
}

/*responsiveness*/

@include mobile {
	.build-team-page {
		.board.active {
			height: 150px;
		}
	}
}	