.home-page {
	@include gradient-summer();
	@include sq(100%);
	@include center-flex();
	&[data-team=""], [data-team="none"] {
		@include gradient-summer();
	}
	&[data-team="1"] {
		@include gradient-sunglaze();
	}
	&[data-team="2"] {
		@include gradient-sunbreeze();
	}
}

.col-2 {
	.col[data-team="1"] {
		.forms-single .input__wrapper .input__textbox {
			color: $chrome-dark;
		}
		.msg__connect-to-team h2 {
			@include text-gradient-sunglaze;
		}
	}
	.col[data-team="2"] {
		.forms-single .input__wrapper {
			.input__textbox {
				color: $aqua-dark;
			}
		}
		.msg__connect-to-team h2 {
			@include text-gradient-sunbreeze;
		}
	}
}

.forms-single {
	&.--text-only {
		position: absolute;
		top: 0px;
		left: 5%;
	}
}

.msg__connect-to-team {
	color: $midnight;
}