.home-page {
	@include gradient-summer();
	@include sq(100%);
	@include center-flex();
	&[data-team=""], [data-team="none"] {
		@include gradient-summer();
	}
	&[data-team="1"] {
		@include gradient-sunglaze();
	}
	&[data-team="2"] {
		@include gradient-sunbreeze();
	}
	.forms-single {
		@include fade-out();
		&.active {
			display: block;
			@include fade-in();
		}
	}

	.msg__connect-to-team,
	.msg__adding-iteam {
		color: $midnight;
		@include fade-in();
		display: block;
	}
}

.col-2 {
	.col[data-team="1"] {
		.forms-single .input__wrapper .input__textbox {
			color: $chrome-dark;
		}
		.col__header h2 {
			@include text-gradient-sunglaze();
		}
		.msg__connect-to-team h2 {
			@include text-gradient-sunglaze();
		}
	}
	.col[data-team="2"] {
		.forms-single .input__wrapper {
			.input__textbox {
				color: $aqua-dark;
			}
		}
		.col__header h2 {
			@include text-gradient-sunbreeze();
		}
		.msg__connect-to-team h2 {
			@include text-gradient-sunbreeze;
		}
	}
}