#MainPage {
	@include sq(100%);
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: hidden;
}

.page-body {
	@include sq(100%);
}

.page-wrapper {
	transition: all 0.5s ease;
}

.col-2 {
	position: relative;
	@include sq(100%);
	> .col {
		float: left;
		width: 50%;
		height: 100%;
		position: relative;
		&:first-child:before {
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			width: 1px;
			height: 100%;
			@include gradient-sunset(0deg);
		};
		&.--center {
			@include center-flex();
		}
	}
}