/*external imports*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Shrikhand&display=swap');

/*general*/
@import './general/reset';
@import './general/variables';
@import './general/mixins';
@import './general/animations';
@import './typography';

/*elements*/
@import './page';
@import './header';
@import './forms/textbox';
@import './cards/card';
@import './common/button';
@import './common/loading';

/*pages*/
@import './splashpage';

/*global styles*/
body {
  margin: 0;
  font-family: 'Josefin Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include sq(100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}