.input__textbox {
	@include wh(250px, 60px);
	border-radius: 10px;
	background: none;
	padding: 10px;
	color: $chrome;
	margin: 20px 0px;
	border: 1px solid transparent;
	&:hover {
		border: 1px solid $white;
	};
	&:focus{
		border: transparent;
		outline: none;
		box-shadow: none;
	};
	&.--error {
		border-color: $coral;
	}
	&.--huge {
		font-family: $shrikhand;
		font-size: $fs-l;
		width: 330px;
	}
}