.loading-overlay{
	display: none;
}

.loading-overlay.active {
	background: rgba(0,0,0,0.5);
	@include gradient-midnight-75();
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
    @include center-flex();
    color: white;
    overflow: hidden;
}