header {
	width: $header-width;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 50;
	color: $white;
	$font-family: $shrikhand;
}

.app-header {
	height: $header-height;
	width: $header-width;
	background: $midnight;
	color: $white;
	position: relative;
}

.header-center {
	width: 200px;
	height: $header-height;
	background: $coral;
	color: $midnight;
	position: absolute;
	top: 0px;
	@include center-auto;
}

.header-logo {
	font-size: $fs-m;
	font-family: $josefin;
}