header {
	width: $header-width;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 50;
	color: $white;
	$font-family: $shrikhand;
	&.--splash {
		display: none;
	}
}

.app-header {
	height: $header-height;
	width: $header-width;
	@include gradient-summer();
	color: $white;
	position: relative;
	@include center-flex;
	&[data-team='1'] {
		.scorebar[data-team='2'] {
			width: 150px;
		}
		.scorebar[data-team='1'] {
			width: calc(50% + calc(50% - 150px));
		}
		.scorebar__info {
			display: none;
		}
		.header-center {
			margin-left: calc(50% - 250px);
			&:hover {
				margin-left: 0px;
			}
		}
	}
	&[data-team='2'] {
		.scorebar[data-team='1'] {
			width: 150px;
		}
		.scorebar[data-team='2'] {
			width: calc(50% + calc(50% - 150px));
		}
		.scorebar__info {
			display: none;
		}
		.header-center {
			margin-left: calc(-50% + 250px);
			&:hover {
				margin-left: 0px;
			}
		}
	}
}

.header-center {
	width: 200px;
	height: $header-height;
	background: $peach;
	color: $midnight;
	position: absolute;
	top: 0px;
	transition: all 0.6s ease;
	&:hover {
		width: 100%;
		.header-logo {
			padding: 0px 20px;
			float: left;
		}
		.menu__wrapper {
			@include delay-show();
			.menu__item {
				@include delay-child-sequence();
			}
		}
	};
}

.header-logo {
	font-size: $fs-m;
	font-family: $shrikhand;
	line-height: 50px;
	transition: all 0.6s ease;
}

/*responsiveness*/

@include mobile {
	header.--splash {
		display: block;
	}
	.header-center {
		width: 50px;
	}
	.header-logo {
		display: none;
	}
	.header-menu-icon {
		display: block;
	}
}