.scorebar {
	width: 50%;
	position: relative;
	float: left;
	height: 100%;
	position: absolute;
	top: 0px;
	transition: all 0.6s ease;
	overflow: hidden;
	&[data-team="1"] {
		background: $chrome;
		left: 0px;
		.scorebar__info {
			flex-direction: row;
		}
	}
	&[data-team="2"] {
		background: $aqua;
		right: 0px;
		> * {
			float: right;
			text-align: right;
		}
		.scorebar__info {
			flex-direction: row-reverse;
		}
	}
	&__avatar {
		float: left;
		width: 40px;
		height: $header-height;
		background: $black-10;
	}
	&__round-score {
		float: left;
		font-size: $fs-m;
		font-family: $shrikhand;
		padding: 5px 20px;
		width: auto;
	    height: 40px;
		line-height: 40px;
		.over-score {
			font-size: $fs-xs;
		}
	}
	&__info {
		float: left;
		width: 200px;
		height: 30px;
		padding: 10px;
		display: flex;
	}
	&__name {
		font-size: $fs-s;
    line-height: 32px;
    width: auto;
    margin: 0px 10px;
	}
	&__trophies {
		display: flex;
		flex-direction: row;
		height: 25px;
		$color: $midnight;
		.icon {
	    width: 20px;
	    height: 25px;
	    float: left;
	    margin: 2px 2px 0px 2px;
	    background: $black-10;
		}
	}
	&__violations {
		display: flex;
		flex-direction: row;
		height: 25px;
		color: $coral;
		.icon {
	    width: 20px;
	    height: 25px;
	    float: left;
	    margin: 2px 2px 0px 2px;
	    background: $red-50;
		}
	}
}

/*responsiveness*/

@include mobile {
	.scorebar {
		width: calc(50% - 20PX);
		.scorebar__avatar {
			display: none;
		}
		.scorebar__name {
	    font-size: $fs-s;
	    text-transform: uppercase;
		}
	}
}