@mixin sq ($value) {
  width: $value;
  height: $value;
}

@mixin wh ($w, $h) {
  width: $w;
  height: $h;
}

@mixin no-pads () {
	margin: 0px;
	padding: 0px;
}

@mixin center-flex () {
	display: flex;
    align-items: center;
    justify-content: center;
}

/*gradients*/
@mixin gradient-soltice () {
	background: rgb(105,2,115);
	background: linear-gradient(45deg, rgba(105,2,115,1) 0%, rgba(141,3,65,1) 100%);
}

@mixin gradient-summer () {
	background: rgb(34,193,195);
	background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

@mixin gradient-sunset () {
	background: rgb(131,58,180);
	background: linear-gradient(45deg, rgba(131,58,180,1) 31%, rgba(253,29,29,1) 62%, rgba(252,176,69,1) 100%);
}

@mixin gradient-soltice-75 () {
	background: rgb(105,2,115);
	background: linear-gradient(45deg, rgba(105,2,115,0.75) 0%, rgba(141,3,65,0.75) 100%);
}

@mixin gradient-summer-75 () {
	background: rgb(105,2,115);
	background: linear-gradient(45deg, rgba(34,193,195,0.75) 0%, rgba(253,187,45,0.75) 100%);
}

@mixin gradient-midnight-75 () {
	background: rgb(20,0,49);
background: linear-gradient(45deg, rgba(20,0,49,0.75) 0%, rgba(25,208,222,0.75) 100%);
}


/*text gradients*/

@mixin text-gradient-soltice () {
	background: transparent;
	background: -webkit-linear-gradient(45deg, rgba(105,2,115,1) 0%, rgba(141,3,65,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}