@mixin sq ($value) {
  width: $value;
  height: $value;
}

@mixin wh ($w, $h) {
  width: $w;
  height: $h;
}

@mixin no-pads () {
	margin: 0px;
	padding: 0px;
}

@mixin center-flex () {
	display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center-auto () {
	display: block;
    margin: 0 auto;
    text-align: center;
}


/*gradients*/
@mixin gradient-soltice ($deg: 45deg, $transparency: 1) {
	background: rgb(105,2,115);
	background: linear-gradient($deg, rgba(105,2,115, $transparency) 0%, rgba(141,3,65, $transparency) 100%);
}

@mixin gradient-summer ($deg: 45deg, $transparency: 1) {
	background: rgb(34,193,195);
	background: linear-gradient($deg, rgba(34,193,195, $transparency) 0%, rgba(253,187,45, $transparency) 100%);
}

@mixin gradient-sunset ($deg: 45deg, $transparency: 1) {
	background: rgb(131,58,180);
	background: linear-gradient($deg, rgba(131,58,180, $transparency) 31%, rgba(253,29,29, $transparency) 62%, rgba(252,176,69,1) 100%);
}

@mixin gradient-midnight ($deg: 45deg, $transparency: 1) {
	background: rgb(20,0,49);
background: linear-gradient($deg, rgba(20,0,49, $transparency) 0%, rgba(25,208,222,$transparency) 100%);
}


/*text gradients*/

@mixin text-gradient-soltice () {
	background: transparent;
	background: -webkit-linear-gradient(45deg, rgba(105,2,115,1) 0%, rgba(141,3,65,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}